<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Bluenty_RestoreOrder::restore_order"
             title="Restore Order"
             module="Bluenty_RestoreOrder"
             sortOrder="100"
             parent="Magento_Sales::sales_order"
             action="restoreorder/order/restore"
             resource="Bluenty_RestoreOrder::restore_order"/>
    </menu>
</config>
